<configuration>

    <!-- File Appender -->
    <appender name="FILE-A" class="ch.qos.logback.core.FileAppender">
        <!-- Output file -->
        <file>logs/app-log.txt</file>

        <!-- Append instead of overwrite -->
        <append>false</append>

        <!-- Log format -->
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="FILE-B" class="ch.qos.logback.core.FileAppender">
        <file>logs/concise-log.txt</file>
        <append>true</append>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="logger.program" level="DEBUG" additivity="false">
        <appender-ref ref="FILE-A" />
    </logger>

    <logger name="logger.concise" level="DEBUG" additivity="false">
        <appender-ref ref="FILE-B" />
    </logger>

    <!---Root logger for everything else-->
    <root level="error">
        <appender-ref ref="FILE-A" />
    </root>

</configuration>